<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConnectionString" value="Data Source=SIRDB6;User Id=CFTSPALL;Password=cft"/>
    <!--<add key="ConnectionString" value="Data Source=10.25.35.103/sirdb.prod;User Id=CFTIFO;Password=cft"/>-->
    <add key="Server" value="LOCALHOST"/>
    <add key="ApplicationName" value="SIR - IFO"/>
    <add key="ApplicationDeveloper" value="SIR - IFO"/>
    <add key="edi_cod" value="5"/>
    <!--valore minimo del codice dell'edificio deve essere un valore numerico-->
    <!--  SETTAGGI INSERIMENTO MENU'  -->
    <add key="DIRMENU" value="F:\SitiOnLive\IFO\MasterExcel\"/>
    <add key="DIRMENUFILE" value="F:\SitiOnLive\IFO\MasterExcel\ReportKPI.xls"/>
    <add key="DIRMENUOLD" value="F:\SitiOnLive\IFO\KPI\"/>
    <add key="DIRKPIMASTER" value="F:\SitiOnLive\IFO\MasterExcel\"/>
    <add key="DIRKPIMASTERFILE" value="F:\SitiOnLive\IFO\MasterExcel\MasterKPIIFO.xls"/>
    <add key="DIRKPIDEST" value="F:\SitiOnLive\IFO\KPI\"/>
    <!--  rimessi i settaggi validi per provincia di roma 10.142.224.12   sir@engie.com  <add key="MailFrom" value="sir@cofasir.it"/> -->
    <add key="SmtpServer" value="10.25.35.25"/>
    <add key="MailFrom" value="sir@engie.com"/>
    <add key="DIRSGA" value="F:\SitiOnLive\IFO\Doc_DB\SGA\"/>
    <add key="DIRDIE" value="F:\SitiOnLive\IFO\Doc_DB\DIE\"/>
    <!--  SETTAGGI PER L'INVIO DELLE MAIL PMP  -->
    <add key="usersmtp" value=""/>
    <add key="pwdsmtp" value=""/>
    <!--  SETTAGGI PER L'INVIO DELLE MAIL DI TRACCIATURA  -->
    <add key="SmtpServer2" value="10.25.35.25"/>
    <add key="usersmtp2" value=""/>
    <add key="pwdsmtp2" value=""/>
    <add key="CCDIE" value="sir@cofasir.it"/>
    <add key="CCSGA" value="sir@cofasir.it"/>
    <!--
        <add key="CCDIE" value="ing.giuli@gmail.com"/>
        <add key="CCSGA" value="sgadie@cofasir.it"/>
       
        -->
    <!--FINE SETTAGGI PER L'INVIO DELLE MAIL-->
    <add key="PathDocAllegatiEQ" value="../EQAllegati"/>
    <add key="DirectoryStampa" value="..\Stampe\"/>
    <add key="DirectoryStampaCostoGestione" value="..\Stampe\CostoGestioneCumulativo\"/>
    <add key="SourceReports" value="\Report\"/>
    <add key="ImmaginiEq" value="\EQImages\"/>
    <!--Link help -->
    <add key="LinkHelp" value="../HelpApplication/Default.aspx?page="/>
    <add key="DirectoryCad" value="/webcad/CadFile/"/>
    <!--Livello di Servizio -->
    <add key="Livello1" value="1"/>
    <add key="Livello2" value="0,80"/>
    <add key="Livello2" value="0,60"/>
    <add key="Logo1" value="\Images\HomePage.jpg"/>
    <add key="Logo2" value="\Images\HomePage.jpg"/>
    <!-- USER GIC -->
    <add key="UserId" value="cftexpo"/>
    <!--Secondi per l'aggiornamento della pagina avvisi-->
    <add key="refresh" value="30000"/>
    <add key="NomeFileStatistiche" value="FileWebStat/statisticheWeb"/>
    <add key="linkReportPermessoLavoro" value="http://sir4.cofasir.it/ifokpirp/GetPL1.aspx"/>
    <add key="linkReportKPI" value="http://sir4.cofasir.it/ifokpirp/GetKPIPUI.aspx"/>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>