vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Aug 2011 13:18:11 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|29 Aug 2011 13:18:11 -0000
vti_filesize:IR|140
vti_cachedlinkinfo:VX|S|test.gif
vti_cachedsvcrellinks:VX|FSUS|webapplication/WebApplication1/test.gif
vti_lineageid:SR|{76E359AD-5501-4B47-A25B-FF959C4F4205}
vti_backlinkinfo:VX|webapplication/WebApplication1/Default.aspx
