vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Nov 2007 08:54:18 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|05 Nov 2007 08:54:18 -0000
vti_filesize:IR|10523
vti_cachedlinkinfo:VX|S|../Js/sort.htc
vti_cachedsvcrellinks:VX|NSUS|webcad/Js/sort.htc
vti_lineageid:SR|{C820F1B3-51C9-4C4A-93F0-62A487BE96F6}
vti_backlinkinfo:VX|webcad/CommonPage/ListaEdifici.aspx webcad/Edifici/EditBuilding.aspx webcad/ListLink.aspx webcad/TopFrame.aspx webcad/bottomFrame.aspx webcad/Edifici/NavigazioneAppDEMO.aspx webcad/Apparecchiature/NavigazioneDocumenti.aspx webcad/Apparecchiature/SchedaApparecchiatura.aspx webcad/LeftFrame2.aspx webcad/Apparecchiature/VisualDWF.aspx webcad/Edifici/DataRoom.aspx
