vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jun 2008 10:37:44 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|18 Jun 2008 10:37:44 -0000
vti_filesize:IR|3408
vti_lineageid:SR|{2BF23065-703D-4F39-A6A7-90716EE79CCF}
vti_backlinkinfo:VX|GIC/Report/NuovoSchema.aspx GIC/Report/ModificaCampo.aspx GIC/Report/SelectSchema.aspx GIC/Report/DefaultReport.aspx GIC/Report/EliminaVista.aspx
